body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
}

a {
    color: $color-primary;
    text-decoration: none;
    &:visited {
        color: $color-grey-dark;
    }
}

p {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}