<h2>Kategorien</h2>
<!-- Template -->
<!-- Contentbereich -->
<form>
    <label for="name">Name</label>
    <input type="text" id="name" name="name"/>
    <label for="type1"><input type="radio" name="type" id="type1" value="cause">Ursache</label>
    <label for="type2"><input type="radio" name="type" id="type2" value="category">Fehlerkategorie</label>
    <div class="buttons">
        <button id="idBack" data-controller="categories">Zurück</button>
        <button id="createSubmit" type="submit" data-controller="categories">Speichern</button>
    </div>
</form>
<!-- EOF -->