<!-- Template -->
<!-- Contentbereich -->
<form>
   <label for="first_name">Vorname</label>
   <input type="text" id="first_name" name="first_name" />
   <label for="last_name">Nachname</label>
   <input type="text" id="last_name" name="last_name" />
   <label for="type1"><input type="radio" name="type" id="type1" value="1">QS-Mitarbeiter</label>
   <label for="type2"><input type="radio" name="type" id="type2" value="2">SW-Mitarbeiter</label>
   <button id="idBack">Zurück</button>
   <button id="createSubmit" type="submit">Speichern</button>
</form>
<!-- EOF -->